
/* ==========================================================================
アニメーション
※javascriptと連携して使用することが多いため、
「js-」クラスを元にスタイルを制御することを許容する。
※アニメーション対象のクラスには、該当の「js-」クラスと「is-animation」クラスを付与する
========================================================================== */
/* fadeIm fadeOut
----------------------------------------------------------------- */

  @keyframes fadeIn {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }

  @keyframes fadeOut {
	0% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }