/*-==========================================================================
element - section
==========================================================================*/
@use '../../utils/' as *;
/*========================================================================*/
.el_ttl {
  $_ttl: &;
  margin-inline: auto;
  &#{$_ttl}__program {
    width: 13.6rem;
    @include pc {
      width: 19.2rem;
    }
  }
  &#{$_ttl}__access {
    width: 12.8rem;
  }
  image {
    width: 100%;
  }
}
